/*  Table of Contents 
    1. global styles
        1.1 variables
        1.2 css reset

    2. typography

    3. layout 
        3.1 Nav Bar Styling
        3.1 Main Page Styling
        3.2 Biography Page Styling 
        3.4 Gallery Page Styling 
        3.5 Publication Page Styling 
        3.6 Footer Styling 

    4. utilites 
        4.1 Buttons
        4.2 Card Hover effects

    5. media queries 

*/

/*  ================
    1. global styles
    ================ */

/* == 1.1 Variables == */
:root {
    --background: rgba(255, 255, 255, 1);
    --bg-light: rgba(254, 248, 236, 1);
    --bg-dark: rgba(32, 44, 57, 1);
    --bg-mid: rgba(241, 149, 106, 1);

    --ff-prim: "Montserrat", sans-serif;
    --ff-sec: 'Darker Grotesque', sans-serif;
    --ff-spec: 'Comforta', sans-serif;

    --clr-prim-500: rgba(82, 113, 142, 1);
    --clr-prim-700: rgba(67, 93, 117, 1);
    --clr-prim-900: rgba(52, 73, 91, 1);

    --clr--sec-500: rgba(244, 128, 124, 1);
    --clr--sec-700: rgba(242, 109, 105);
    --clr--sec-900: rgba(240, 84, 79, 1);

    --clr--light-500: rgba(255, 255, 255, 1);
    --clr--light-700: rgba(254, 248, 236, 1);
    --clr--light-900: rgba(253, 240, 213, 1);

    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-700: 1.75rem;

    --fw-400: 500;
    --fw-700: 700;
    --fw-900: 900;


}

/*== 1.2 css reset ==*/

::selection {
    background: var(--clr--sec-500)
}


/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }


}


/*  =============
    2. typography 
    ============= */

h1,
h2 {
    font-family: var(--ff-prim);
    font-weight: var(--fw-900);
    color: var(--clr-prim-900)
}

/* clamp sets responsive font size */

h1 {
    font-size: clamp(.85rem, 1rem + 10vw, 2rem);
}

h2 {
    font-size: clamp(.75rem, 1rem + 10vw, 1.5rem);
}

p {
    font-family: var(--ff-sec);
    font-size: clamp(.5rem, .5rem + 10vw, 1.5rem)
}

/*  =============
    3. layout 
    ============= */


/* header */
.header {
    background-color: var(--bg-light);
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 999;
}

.header h1 {
    color: var(--clr-prim-700);
    font-family: var(--ff-prim);
    text-decoration: none;

}

.header h1 a {
    text-decoration: none;
}

.header h1 a:visited {
    color: inherit;
}



/* == 3.1 navigation menu styling == */

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;

}

/* hamburger button styling */

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--bg-dark);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;

}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}


nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--bg-light);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul,
.ft-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li,
.ft-nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: var(--clr-prim-500);
    font-family: var(--ff-prim);
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover,
.ft-nav a:hover {
    color: var(--clr--sec-700);

}

/* enables hamburger  */

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}




/* == 3.2 Home Page Styling == */

/* hero media styling */

.hero {
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(32, 44, 57, .65);
    color: var(--clr--light-900);
    margin-bottom: 100px;
    height: 30rem;
    padding: 5rem;
    position: relative;
    overflow: hidden;
    min-height: 125vh;
}

/* overriding global style for hero text */
.hero h1 {
    padding: 0.5rem;
    font-size: 4.5rem;
    text-transform: uppercase;
    color: var(--clr--light-900);
    text-shadow: 2px 2px var(--clr--sec-700);
}

.hero h2 {
    padding: 1rem;
    color: var(--clr--light-900);
    text-align: left;
}

.hero p {
    padding: 2rem;
    text-align: center;
}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;

}

/* main area*/

body {
    background-color: var(--bg-light);
}

/* create a header for main section */
.explore {
    position: relative;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%);
    scroll-snap-align: center;
}


.main {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    overflow: hidden;


}

.main h1 {
    text-transform: uppercase;
    padding: 1.5rem;
}

.main p {
    padding: 1.5rem;
    font-style: var(--fs-700);
}

/* make images uniform */
.main img {
    padding: 0;
    width: 100%;
    height: 15rem;
    overflow: auto;
    object-fit: cover;
}

/* allow flex grow, allow flex shrink, set flex basis for all child elements of main  */
.main>* {
    padding: 5rem;
    flex: 1 1 25em;
}

.under_txt {
    min-height: 10rem;
}

/* == 3.3 Biography Page Styling == */

.bio_main {
    padding: .5rem;
    display: grid;
    gap: 1.5rem;
    width: min(95%, 100rem);
    margin-inline: auto;
    grid-auto-columns: 1fr;
}

.art_img {
    padding: 1.5rem;
    display: inline-block;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow: auto;
    object-fit: cover;

}

.bio_block {
    background: rgba(244, 128, 124, 0.25);
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: .5em .5em 3.5em rgba(32, 44, 57, .25);
}

.bio_block_2 {
    background: rgba(32, 44, 57, .50);
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: .5em .5em 3.5em rgba(32, 44, 57, .25);
}

.bio_block h1,
p {
    padding: 1.5rem;
}

.bio_block p {
    font-weight: var(--fw-500);
    color: var(--clr-prim-700);
}

.bio_block_2 h1 {
    color: var(--clr--light-700);
    padding: 1.5rem;
}

.bio_block_2 p {
    font-weight: var(--fw-500);
    color: var(--clr--light-700);
}

.bio_source p {
    color: var(--clr-prim-700);
    text-align: center;
    font-size: var(--fs-500);
}

.bio_source a:link {
    text-decoration: none;
}

/* gallery page styling */


.gallery {
    padding: 7em 4em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    align-items: flex-start;
    justify-content: space-evenly;
}

.gallery h3 {
    font-family: var(--ff-prim);
    font-size: var(--fs-700);
    color: var(--clr--light-700);
}


.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gal_p_link a {
    text-decoration: none;
    color: var(--clr--sec-700);
}

#gal_p_link a:hover {
    text-decoration: none;
    color: var(--clr--prim-500);
}

.gallery_item {
    position: relative;
    margin: 0;
    padding: 0;
    box-shadow: .5em .5em 3.5em rgba(32, 44, 57, .25);

}

.gallery_desc {
    padding: 1.5em;
}

.gallery_title {
    font-size: var(--fs-700);
    font-size: 2rem;
    color: var(--clr--light-700);
    margin-bottom: 0;
    font-family: var(--ff-prim);
}


.gallery_lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    color: var(--clr--light-700);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1, 0);
    transform-origin: bottom;
    transition: transform ease-in-out 250ms;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.gallery_lightbox:target {
    transform: scale(1, 1);
    transform-origin: top;

}

.gallery_lightbox_content {
    width: 27rem;
    background: var(--bg-dark);
    padding: 1.5em;
    position: relative;

}

.gallery_lightbox_content_p {
    display: flex;
    background: var(--bg-dark);
    padding: 1em;
    position: relative;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
}

.close {
    position: absolute;
    width: 1em;
    height: 1em;
    background: var(--bg-light);
    top: -1em;
    right: -1em;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-prim-700);
}

.close::after {
    content: 'x';
    color: var(--clr-prim-700);
    font-family: var(--ff-prim);
}

.gallery_item::before {
    transform: scale(1, 1);
}

.gal_pic {
    max-width: 100%;
    display: block;
    transition: opacity ease-out 250ms;
    opacity: 1;
}

.gal_pic:hover {
    opacity: 0.4;
}

.gallery_item:hover {
    opacity: 1;
    background: var(--clr-prim-500);
}

.gal_pic_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr--light-700);
    opacity: 0;
    font-family: var(--ff-sec);
    transition: opacity ease-out 250ms;
}

.gallery_item:hover .gal_pic_text {
    opacity: 1;
}

/* Publications Page Styling */

.pub_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* == 3.6 footer styling == */
.footer {
    height: 2rem;

}

.socials {

    list-style: none;
    text-align: center;

}

.socials li {
    display: inline;

}

.socials i {
    font-size: 120%;
    margin: 0;
    padding: 5%;
    color: var(--clr-prim-500);
}

.socials i:hover {
    color: var(--clr--sec-700);
}

/* Footer Navigation Menu */

.ft-nav {
    padding: 2rem;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-prim-500);
    opacity: 1;
    /* Add Legacy Browser support */
    position: relative;
    text-align: center;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Legacy Browser support */
}

.ft-nav a {
    color: var(--clr-prim-700);
    font-family: var(--ff-prim);
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
}

.ft-list {
    text-align: center;
}

/*  =============
    4. utilities 
    ============= */

/* == 4.1 buttons ==  */

/* hero explore button */
.exp-btn {
    display: inline-block;
    background: var(--clr--light-900);
    color: var(--clr--sec-500);
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em;
    font-family: var(--ff-prim);
    font-weight: var(--fw-700);
    letter-spacing: .15rem;

}

.exp-btn:hover {
    background-color: var(--bg-mid);
    color: var(--clr--light-500);
}

/* card button */

.card-btn {
    display: inline-block;
    background: var(--bg-dark);
    color: var(--clr--light-500);
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em;
    font-family: var(--ff-prim);
    font-weight: var(--fw-700);
    letter-spacing: .15rem;


}

.card-btn:hover {
    background-color: var(--bg-mid);
    color: var(--clr--light-500);
}

/* Gallery Lightbox Button */

.gal-btn {
    display: block;
    background: var(--bg-mid);
    color: var(--clr--light-500);
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em;
    font-family: var(--ff-prim);
    font-weight: var(--fw-700);
    letter-spacing: .15rem;

}

.gal-btn:hover {
    background-color: var(--clr-prim-500);
    color: var(--clr--light-500);
}

/* Page Topper */

.top-hero-outer {
    display: flex;
    width: 100vw;
    height: 25vh;
    overflow: hidden;
    align-items: center;
}

.top-hero-img {
    width: 75%;
    height: 100%;
    margin-inline: auto;
    background: url(/assets/media/gal_hero.webp) center center;
    opacity: 0.75;
    position: relative;
    z-index: -1;
}

.top_title {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%);
    scroll-snap-align: center;


}

.top_title h1 {
    font-size: clamp(.65rem, 1rem + 10vw, 1.5rem);
    /* display: inline-block; */
    color: var(--clr--light-900);
    text-shadow: 2px 2px var(--clr--sec-700);
}


/* == card hover effect ==  */

.card {
    position: relative;
    background: var(--clr--sec-700);
    box-shadow: .5em .5em 3.5em rgba(32, 44, 57, .25);

}

.card:hover::before {
    transform: scale(1, 1);
}

.card__img {
    max-width: 100%;
    display: block;
    transition: opacity ease-out 250ms;
    opacity: 1;
}

.card__img:hover {
    opacity: 0.4;
}

.card:hover {
    opacity: 1;
}

.card__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr--light-700);
    opacity: 0;
    font-family: var(--ff-sec);
    transition: opacity ease-out 250ms;
}

.card:hover .card__text {
    opacity: 1;
}


.card__title {
    font-size: 2rem;
    color: var(--clr--light-700);
    margin-bottom: 0;
    font-family: var(--ff-prim);
}

/*  =================
    5 .media queries
    =================*/

/* overides styling for screens 943 pixels and larger */
@media all and (min-width: 943px) {

    /* unsets all header styling */
    .header {
        all: unset;
    }

    /* desktop header styling */
    .header {
        display: grid;
        grid-template-columns: 1fr 3fr minmax(600px, 3fr) 1fr;
        /* overrides default padding */
        padding: 1rem;
        text-decoration: none;
    }

    .header h1 {
        color: var(--clr-prim-700);


    }

    .logo {
        grid-column: 2/3;
    }

    /* nav + footer nav menu for desktop */

    .nav-toggle-label,
    .nav-toggle {
        display: none;

    }

    nav,
    .ft-nav {
        all: unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* Add Legacy Browser support */
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
        /* end Legacy Browser support */
    }

    nav ul,
    .ft-nav ul {
        display: flex;

    }

    nav li,
    .ft-nav li {
        margin-left: 2em;
        margin-bottom: 0;

    }

    nav a,
    .ft-nav a {
        opacity: 1;
        position: relative;
        color: var(--clr-prim-700);
    }

    nav a::before,
    .ft-nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: var(--clr--sec-700);
        position: absolute;
        bottom: -.75em;
        left: 0;
        right: 0;
        transform-origin: left;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;

    }

    nav a:hover::before,
    .ft-nav a:hover::before {
        transform: scale(1, 1);
    }

    .ft-nav {
        padding: 2rem;
        grid-column: 3/4;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* == MQ Home Page == */

    .hero h1 {
        /* overides default h1 font size */
        font-size: 11em;
        text-transform: uppercase;

    }

    .explore::before,
    .explore::after {
        content: '';
        display: block;
        position: absolute;

    }

    .explore::before {
        background: var(--bg-light);
        height: 101%;
        z-index: -1;
        left: -5em;
        right: -5em;
        top: 1;
    }

    .explore::after {
        background: var(--bg-dark);
        width: 100vw;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: -2;
        height: 50%;
        vertical-align: bottom;
    }      


    /* == MQ Bio Page ==  */

    .bio_main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }


    /* == MQ Gallery Page == */
    .gallery_lightbox_content {
        width: 50%;
    }

    .gal-hero-outer {
        width: 100vw;
        height: 35vh;
    }

    .gal-hero-img {
        width: 75%;
        height: 100%;

    }

    /* Media Query for Page Topper */

    .top-hero-outer {
        width: 100vw;
        height: 35vh;
        padding: 2rem;

    }

    .top-hero-img {
        width: 75%;
        height: 100%;

    }

    .top_title h1 {
        font-size: 3.5rem;
        display: inline-block;
        color: var(--clr--light-900);
        text-shadow: rgba(82, 113, 142, 0.5);
    }

}