
:root {
    --background: rgba(255, 255, 255, 1);
}

*, *::before, *::after {
    box-sizing: border-box;
}



html {
    scroll-behavior: smooth;
}


.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper>* {
    flex: 1 100%;


}


.main {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    text-align: center;
    background: none;
    height: 75rem;

    }

    .bio {
        text-align: left;
    }

.header {
    background-color: var(--background);
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 999;
}

.header
h1 {
    color: black;
    font-family: 'Montserrat';
}




/* Navigation Menu Styling */

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;

}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;    
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;

}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}


nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;  
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: black;
    font-family: "Montserrat";
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: darkgray;

}

.nav-toggle:checked ~ nav {
   transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


/* Hero Media Styling */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    margin-bottom: 100px;
    height: 30rem;
    padding: 5rem;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    
}

.hero h1 {
    font-size: 4em;
    text-transform: uppercase;
}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    
}

.footer {
    background-color: green;
    height: 50rem;

}


@media all and (min-width: 943px) {
    
    .header {
        all: unset;
    }

    .nav-toggle-label {
        display: none;
        
    }

    .nav-toggle {
        display: none;
    }

    .header {
        display: grid;
        grid-template-columns: 1fr 3fr minmax(600px, 3fr) 1fr;
    }

    .header h1 {
        color: black;
    }

    .logo {
        grid-column: 2/3;
        color: black;
    }

    nav {
        all: unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* Add Edge support */
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        left: initial;
        /* end Edge support */
    }

    

    nav ul {
        display: flex;
        
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;

    }

    nav a {
        opacity: 1;
        position: relative;
        color: black;
        font-family: "Montserrat";
        font-size: .9em;
        font-weight: 800;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: darkgray;
        position: absolute;
        bottom: -.75em;
        left: 0;
        right: 0;
        transform-origin: left;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;

    }
 
    nav a:hover::before {
        transform: scale(1, 1);
    }

    .main {
        font-family: 'Montserrat', sans-serif;
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        
        background: none;
        height: 75rem;
    
       
    
        .bio {
            text-align: left;
        }
    }
   .hero h1 {
        font-size: 6em;
        text-transform: uppercase;
        
    }    

    }

    

