/*  Table of Contents 
    1. global styles

    2. typography

    3. layout 

    4. components 
        4.1 Buttons

    5. media queries 

*/

/*  ================
    1. global styles
    ================ */

/* Variables */
:root {
    --background: rgba(255, 255, 255, 1);
    --bg-light: rgba(254, 248, 236, 1);
    --bg-dark: rgba(32, 44, 57, 1);
    --bg-mid: rgba(241, 149, 106, 1);

    --ff-prim: "Montserrat", sans-serif;
    --ff-sec: 'Darker Grotesque', sans-serif;
    --ff-spec: 'Comforta', sans-serif;

    --clr-prim-500: rgba(32, 44, 57, 1);
    --clr-prim-700: rgba(22, 29, 39, 1);
    --clr-prim-900: rgba(15, 20, 26, 1);

    --clr--sec-500: rgba(244, 128, 124, 1);
    --clr--sec-700: rgba(242, 109, 105);
    --clr--sec-900: rgba(240, 84, 79,1);

    --clr--light-500: rgba(255, 255, 255, 1);
    --clr--light-700: rgba(254, 248, 236, 1);
    --clr--light-900: rgba(253, 240, 213, 1);
    
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-700: 1.75rem;

    --fw-400: 500;
    --fw-700: 700;
    --fw-900: 900;


}

::selection {
    background: var(--clr--sec-500)
  }


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  

}


/*  =============
    2. typography 
    ============= */

h1,
h2 {
    font-family: var(--ff-prim);
    font-weight: var(--fw-900);
    color: var(--clr-prim-900)
}

/* clamp sets responsive font size */

h1 {
    font-size: clamp(.85rem, 1rem + 10vw, 2rem);
}

h2 {
    font-size: clamp(.75rem, 1rem + 10vw, 1.5rem);
}

p {
    font-family: var(--ff-sec);
    font-size: clamp(.5rem, .5rem + 10vw, 1.5rem)
}

/*  =============
    3. layout 
    ============= */


/* header */
.header {
    background-color: var(--bg-light);
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 999;
}

.header h1 {
    color: var(--clr-prim-700);
    font-family: var(--ff-prim);

}

.header h1 a {
    text-decoration: none;
}

.header h1 a:visited {
    color: inherit;
}



/* navigation menu styling */

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;

}

/* hamburger button styling */

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--bg-dark);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;

}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}


nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--bg-light);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul,
.ft-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li,
.ft-nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: var(--clr-prim-500);
    font-family: var(--ff-prim);
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover,
.ft-nav a:hover {
    color: var(--clr--sec-700);

}

/* enables hamburger  */

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


/* hero media styling */

.hero {
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(32, 44, 57, .65);
    color: var(--clr--light-900);
    margin-bottom: 100px;
    height: 30rem;
    padding: 5rem;
    position: relative;
    overflow: hidden;
    min-height: 100vh;


}

/* overriding global style for hero text */
.hero h1 {
    font-size: 4em;
    text-transform: uppercase;
    color: var(--clr--light-900);
}

.hero h2 {
    color: var(--clr--light-900);
}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;

}

/* main area*/

/* create a header for main section */
.explore {
    background-color: var(--bg-light);
    position: relative;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%);
    scroll-snap-align: center;

}

.main {
    background-color: var(--bg-light);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;


}

/* make images uniform */
.main img {
    padding: .5rem;
    width: 100%;
    height: 15rem;
    overflow: auto;
    object-fit: cover;
}

/* allow flex grow, allow flex shrink, set flex basis for all child elements of main  */
.main>* {
    padding: 5rem;
    flex: 1 1 25em;
}


/* footer styling */
.footer {
    background-color: var(--bg-light);
    height: 5rem;

}

.socials {
    list-style: none;
    text-align: center;

}

.socials li {
    display: inline;

}

.socials i {
    font-size: 120%;
    margin: 0;
    padding: 5%;
    color: var(--clr-prim-500);
}

.socials i:hover {
    color: var(--clr--sec-700);
}

.ft-nav {
    padding: 2rem;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    opacity: 1;
    /* Add Legacy Browser support */
    position: relative;
    text-align: center;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Legacy Browser support */
}

.ft-nav a {
    color: var(--clr-prim-700);
    font-family: var(--ff-prim);
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
}

/*  =============
    4. components 
    ============= */

/* == 4.1 buttons ==  */

/* hero explore button */
.exp-btn {
    display: inline-block;
    background: var(--clr--light-900);
    color: var(--clr-prim-500);
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em;
    font-family: var(--ff-prim);
    font-weight: var(--fw-700);
    letter-spacing: .15rem;

}

.exp-btn:hover {
    background-color: var(--bg-dark);
    color: var(--clr--light-500);
}

/*  =================
    5 .media queries
    =================*/

/* overides styling for screens 943 pixels and larger */
@media all and (min-width: 943px) {

    /* unsets all header styling */
    .header {
        all: unset;
    }

    /* desktop header styling */
    .header {
        display: grid;
        grid-template-columns: 1fr 3fr minmax(600px, 3fr) 1fr;
        /* overrides default padding */
        padding: 1rem;
    }

    .header h1 {
        color: var(--clr-prim-700);
    }

    .logo {
        grid-column: 2/3;
    }

    /* nav menu for desktop */

    .nav-toggle-label,
    .nav-toggle {
        display: none;

    }

    nav,
    .ft-nav {
        all: unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* Add Legacy Browser support */
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
        /* end Legacy Browser support */
    }

    nav ul,
    .ft-nav ul {
        display: flex;

    }

    nav li,
    .ft-nav li {
        margin-left: 2em;
        margin-bottom: 0;

    }

    nav a,
    .ft-nav a {
        opacity: 1;
        position: relative;
        color: var(--clr-prim-700);
    }

    nav a::before,
    .ft-nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: var(--clr--sec-700);
        position: absolute;
        bottom: -.75em;
        left: 0;
        right: 0;
        transform-origin: left;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;

    }

    nav a:hover::before,
    .ft-nav a:hover::before {
        transform: scale(1, 1);
    }

    /* end Nav menu for Desktop */

    .hero h1 {
        /* overides default h1 font size */
        font-size: 6em;
        text-transform: uppercase;

    }

    .ft-nav {
        padding: 2rem;
        grid-column: 3/4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}